<tr>
    <td style="display: none;">{$ad->getId()}</td>
    <td>{$ad->getDate_change()|date_format:"%H:%M %d.%m.%Y"}</td>
    <td><a href="{$href_self}?id={$ad->getId()}">{$ad->getTitle()|escape}</a></td>
    <td>{$ad->getPrice()|escape} руб.</td>
    <td>{$ad->getSeller_name()|escape}</td>
    <td>{$ad->getPhone()|escape}</td>
    <!--<td><a href="{$href_self}?del_id={$ad->getId}">удалить</a></td>-->
    <td><a class="delete btn btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
</tr>
